* {
  font-family: "JetBrains Mono",monospace, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content{
  max-width:960px;
  margin:3rem auto;
  padding:2rem;
}

.even-columns{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-bottom: 2rem;
}
.even-columns > * {
  flex: 1 1 28%;
}

.small-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between ;
}



h1 {
  font-weight: 300;
  color: aliceblue;
}

button {
  width: 100%;
  margin-left: 0.2rem;
  margin-right: 0.2rem;

}

.nav-items {
  max-width: 950px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar {
  background-color: rgb(29, 30, 36);
}

 .section {
  max-width: 960px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.flex-row {
  display: flex;
  justify-content: space-between;
}

.work-buttons {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.hidden {
  visibility: hidden;
}

.removed {
  display: none;
}

.computer-image{
  max-width: 15em;
}


.even-columns-laptop{
  margin: 5rem 0rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  padding-bottom: 2rem;
  
}
.even-columns-laptop > * {
  flex: 1 1 28%;
  

}

h4{
  margin-bottom: 0;
}

#computer-price{
 text-align: center;
}

.button-style {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-style:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-style:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-style:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}



